<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="text-center my-5">
					<a href="/" class="navbar-brand">
            <%= image_tag("logo.png", class: "d-inline-block align-text-top") %>
          </a>
				</div>

        <div class="card shadow-lg">
					<div class="card-body p-5">
						<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div class="field mb-3">
								<%= f.label :email, 'E-Mail' , class: "mb-2 text-muted" %><br />
								<%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
							</div>

							<div class="field mb-3">
								<div class="mb-2 w-100">
									<%= f.label :password, class: "text-muted" %>
                  <%- if devise_mapping.recoverable? && controller_name !='passwords' && controller_name !='registrations' %>
                    <%= link_to "Forgot your password?" , new_password_path(resource_name), class: "float-end" %>
                  <% end %>
								</div>
								<%= f.password_field :password, autocomplete: "current-password" , class: "form-control" %>
							</div>

							<div class="actions d-flex align-items-center">
								<% if devise_mapping.rememberable? %>
									<div class="field form-check">
										<%= f.check_box :remember_me, class: "form-check-input" %>
										<%= f.label :remember_me, class: "form-check-label" %>
									</div>
								<% end %>

                <%= f.submit "Log in" , class: "btn btn-primary ms-auto" %>
							</div>
						<% end %>

					</div>

          <div class="card-footer py-3 border-0">
						<div class="text-center">
							Don't have an account? <a class="text-dark" href="/users/sign_up">Create Account</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
