<%= form_with model: proponent, data: { turbo_frame: "_top", controller: "nested-form", nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>

    <%= render partial: 'general_info_fields', locals: { form: form } %>

    <!-- Accordion -->
    <div class="accordion mt-4" id="registrationAccordion">
      <!-- Address Information -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingAddress">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseAddress" aria-expanded="false" aria-controls="collapseAddress">
            Address Information
          </button>
        </h2>
        <div id="collapseAddress" class="accordion-collapse collapse" aria-labelledby="headingAddress"
          data-bs-parent="#registrationAccordion">
          <div class="accordion-body">
            <%= render partial: 'address_fields', locals: { form: form } %>
          </div>
        </div>
      </div>

      <!-- Contact Information -->
      <div class="accordion-item mt-4">
        <h2 class="accordion-header" id="headingContact">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContact"
            aria-expanded="false" aria-controls="collapseContact">
            Contact Information
          </button>
        </h2>
        <div id="collapseContact" class="accordion-collapse collapse" aria-labelledby="headingContact"
          data-bs-parent="#registrationAccordion">
          <div class="accordion-body">

            <template data-nested-form-target="template">
              <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |contact_fields| %>
              <%= render 'contact_fields', f: contact_fields %>
              <% end %>
            </template>

            <%= form.fields_for :contacts do |contact_fields| %>
            <%= render "contact_fields", f: contact_fields %>
            <% end %>

            <div data-nested-form-target="target"></div>

            <button type="button" class="btn btn-success" data-action="nested-form#add">Add Contact</button>
          </div>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary mt-3', data: {action: "click->modal#submitEnd"} %>
  </div>
<% end %>